<div class="main">
    <div style="text-align: center;">
        <h1>ATTENDANCE MANAGEMENT APP</h1>
        <p>ALL RIGHTS RESERVED &copy; 2023</p>
    </div>

    <div class="links">
        <ul>
            <h2>QUICK LINKS</h2>
        </ul>
        <ul>
            <li routerLink="/dashboard" routerLinkActive="active">Dashboard</li>
            <li routerLink="/addStudent" routerLinkActive="active">Add Student</li>
        </ul>
        <ul>
            <li routerLink="/markAttendance" routerLinkActive="active">Mark Attendance</li>
            <li routerLink="/chart" routerLinkActive="active">Chart</li>
        </ul>
    </div>
</div>